<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html, charset=utf-8"/>
    <title>Домашнее задание модуля 2 - "Создание проекта"</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div id="app">
        <h1>Список задач</h1>
        <div>Осталось сделать задач: <span class="counter">{{ getCountUncompletedTasks() }}</span></div>
        <span v-if="getCountUncompletedTasks() > 0">Еще есть незакрытые задачи!</span>
        <span v-else>Вы великолепны!</span>
        <div class="list">
            <div class="item" :class="{done: task.done}" v-for="task in tasks">
                <input type="checkbox" v-model="task.done">
                {{ task.text }}
            </div>
            <div class="item done" v-for="completedTask in completedTasks">
                <input type="checkbox" checked>
                {{ completedTask }}
            </div>
        </div>
        <div class="form">
            <input :placeholder="placeholder" v-model="msg" @keyup.enter="addNewTask">
            <button :type="typeBtn" @click="addNewTask">Добавить</button>
        </div>

        <transition name="bounce">
            <img src="https://a.d-cd.net/6f938804k319-1920.jpg" width="300" alt="Privet" v-show="!getCountUncompletedTasks()">
        </transition>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/app.js"></script>
</body>
</html>
