<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Module 1-3 - HomeWork</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div id="app">
        <h1>Список задач <like-button></like-button></h1>
        <div>Осталось сделать задач: <span class="counter">{{ getCountUncompletedTasks() }}</span></div>
        <span v-if="getCountUncompletedTasks() > 0">Еще есть незакрытые задачи!</span>
        <span v-else>Вы великолепны!</span>
        <div class="list">
            <div class="item" :class="{done: task.done}" v-for="task in tasks">
                <input type="checkbox" v-model="task.done">
                {{ task.text }}
                <like-button></like-button>
            </div>
            <div class="item done" v-for="completedTask in completedTasks">
                <input type="checkbox" checked>
                {{ completedTask }}
            </div>
        </div>
        <div class="form">
            <input :placeholder="placeholder" v-model="msg" @keyup.enter="addNewTask">
            <button :type="typeBtn" @click="addNewTask">Добавить</button>
            <like-button></like-button>
        </div>

        <transition name="bounce">
            <img src="https://a.d-cd.net/6f938804k319-1920.jpg" width="300" alt="Privet" v-show="!getCountUncompletedTasks()">
        </transition>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./app.js"></script>
    <script src="./main.js" type="module"></script>
</body>
</html>
